@using Market.Domain.Extensions
@model Market.Domain.ViewModels.EvCar.EvCarViewModel

<form>
    <input asp-for="Id" hidden="hidden"/>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Image ?? Array.Empty<byte>())" class="img-fluid rounded-start rounded mx-auto" style="max-height: 640px;object-fit: scale-down" alt="">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
                                <label  class="col-form-label">Предыдущее значение:</label>
                    <input class="form-control" disabled value="@Model.ManufacturerName"></input>
                </div>
        <div class="form-group col-md-6" id="select-parent-manufacturerId">
            <label asp-for="@Model.ManufacturerId" class="col-form-label"></label>
            <select asp-for="@Model.ManufacturerId" class="form-control" id="manufacturerId">
                <option value="@Model.ManufacturerId">@Model.ManufacturerName</option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.Model" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.Model"/>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Price" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Price"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.ShortDescription" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.ShortDescription"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.Range" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.Range"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.Power" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.Power"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.BatterySize" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.BatterySize"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.FastChargeAvailable" class="col-form-label"></label>
            <input type="checkbox" asp-for="@Model.FastChargeAvailable"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.Seats" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.Seats"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.AccelerationTime" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.AccelerationTime"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
                                        <label  class="col-form-label">Предыдущее значение:</label>
                            <input class="form-control" disabled value="@Model.PlugType.GetDisplayName()"></input>
                        </div>
        <div class="form-group col-md-6" id="select-parent-plugTypeId">
            <label asp-for="@Model.PlugType" class="col-form-label"></label>
            <select asp-for="@Model.PlugType" class="form-control" id="plugTypeId">
                <option value="@Model.PlugType">@Model.PlugType.GetDisplayName()</option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.ShortDescription" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.ShortDescription"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
                                        <label  class="col-form-label">Предыдущее значение:</label>
                            <input class="form-control" disabled value="@Model.Type.GetDisplayName()"></input>
                        </div>
        <div class="form-group col-md-6 " id="select-parent-carTypeId2">
            <label asp-for="@Model.Type" class="col-form-label"></label>
            <select asp-for="@Model.Type" class="form-control" id="carTypeId2">
                <option value="@Model.Type">@Model.Type.GetDisplayName()</option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.TimeAdded" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.TimeAdded"/>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label">Заменить изображение</label>
            <input asp-for="@Model.UploadedImage" class="form-control" type="file">
        </div>
    </div>
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <div class="form-group col-md-2 mt-3">
                <button type="submit" class="btn btn-primary" formmethod="post" asp-action="Save"> Подтвердить изменения</button>
            </div>
        }
        <div class="form-group col-md-2 mt-3">
            <a type="button" class="btn btn-primary" formmethod="get" asp-action="GetAll">Назад</a>
        </div>
    </div>
</form>

<style>
    label {
        color: white;
    }
</style>

<script src="~/select2/js/select2.full.js"></script>
<script>
$('#carTypeId2').select2({
    dropdownParent: $('#select-parent-carTypeId2'),
   placeholder: "Выберите тип",
   minimumInputLength: 0,
   allowClear: true,
   ajax: {
        type: "GET",
        url: "@Url.Action("GetCarTypes", "EvCar")",
        dataType: "json",
        processResults: function (result) {
            return {
                results: $.map(result, function (val, index) {
                    return {
                        id: index, 
                        text: val
                    };
                }),
            };
        }
    }
});
$('#manufacturerId').select2({
         dropdownParent: $('#select-parent-manufacturerId'),
         placeholder: "Выберите производителя",
         minimumInputLength: 0,
         allowClear: true,
         ajax: {
              type: "GET",
              url: "@Url.Action("ManufacturersSelectData", "Manufacturer")",
              dataType: "json",
              processResults: function (result) {
                  return {
                      results: $.map(result, function (val, index) {
                          return {
                              id: index, 
                              text: val
                          };
                      }),
                  };
              }
          }
      });
$('#plugTypeId').select2({
            dropdownParent: $('#select-parent-plugTypeId'),
            placeholder: "Выберите тип зарядного",
            minimumInputLength: 0,
            allowClear: true,
            ajax: {
                 type: "GET",
                 url: "@Url.Action("GetPlugTypes", "EvCar")",
                 dataType: "json",
                 processResults: function (result) {
                     return {
                         results: $.map(result, function (val, index) {
                             return {
                                 id: index, 
                                 text: val
                             };
                         }),
                     };
                 }
             }
         });
</script>