@model Market.Domain.Models.EvCar

@{
    Layout = null;
}
<p>@Model.Type</p>
<p>@Model.Manufacturer</p>
<p>@Model.Model</p>
<p>@Model.ShortDescription</p>
<p>@Model.Price</p>

<p>@Model.AccelerationTime</p>
<p>@Model.Power</p>
<p>@Model.BatterySize</p>
<p>@Model.Range</p>
<p>@Model.Seats</p>
<p>@Model.PlugType</p>
<p>@Model.FastChargeAvailable</p>

<p>@Model.TimeAdded</p>